<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
      
  
 
        <ul>
            
                <% for (var friend of friends){%>
                    <li><%= friend.username %>  lat: <%= friend.latitude %>, lon: <%= friend.longitude %>  </li><br>
                  <% }%>
        </ul> 

 
</body>

</html>